<html>
  <head>
    <title>CCG Home Page</title>
    <link rel="stylesheet" href="/style.css">
    <script>
      
    </script>
  </head>
  <body>
    <div class="contentContainer">
      <div>
        <form id="logform" name="submitForm" method="GET" action="/">
          <input type="hidden" name="loginRequest" value="loginValue">
          <button class="logbutton" onclick='/'>Home</button>
        </form>
      </div>
      <div id="card_container">
        <!--gui broken i wanna test the fields, how did it break, I didn't change existing code? 
        it can't compile your syntax, error's  errors it says there are errors in the drawCard function right?
        if there are any errors the file breaks, I see a bunch of errors about how you need to compare -->
      </div>
    </div>
  </body>
</html>