<html>
  <head>
    <title>CCG Home Page</title>
    <link rel="stylesheet" href="/style.css">
    <script>
      $.post('/logout', function(user) {
      if(user != 'error')
        document.location.href = '/logout';
      }
    });
    </script>
    <style>
      h1 {
        color: blue;
        font-family: curlz mt;
      }
    </style>
  </head>
  <body>
    <div class="contentContainer">
      <div>
        <form id="logform" name="submitFormli" method="GET" action="/game">
          <input type="hidden" name="loginRequest" value="loginValue">
          <button class="logbutton" onclick='/game'>Login</button>
        </form>
        <form id="logform" name="submitFormlo" method="POST" action="/logout">
          <input type="hidden" name="logoutRequest" value="logoutValue">
          <button class="logbutton" onclick='/logout'>Logout</button>
        </form>
        <form id="logform" name="submitFormcc" method="GET" action="/CCol">
          <input type="hidden" name="CCRequest" value="CCValue">
          <button class="logbutton" onclick='/CCol'>Card Collection</button>
        </form>
      </div>
      <div id="tutorial">
        <br/>
        <h1>CCG: Followers</h1>
        <br/>
        <h3>How to play the game:</h3>
        <br/>
        <article>
          Before entering the game arena, you must create an account.  Each account
          requires the following information: first name, last name, email address and
          password.  Upon completion your account has now entered our player database.
          <br><br>
          and First you need to create and account, then you need to login. That will
          take you to the game scren where you can start a match. To start a match
          look at the top right corner of the screen. There will be a list of logged
          on users. To challenge a person to a match, click on their name in the list
          a challenge will be automatically sent to them.<br><br>
          
          When you start the match, one player is chosen at random to go first. When it
          is your turn, click on one of your playable cards to place it on the field.
          The winner is decided when one player has lost all of their health.
        </article>
      </div>
    </div>
  </body>
</html>