<!doctype html>
<html>
  <head>
    <title>CCG</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <ul id="users"></ul>
    <button class="endturn" id="endturn">End Turn</button>
    <div class="hand" id="hand"></div>
    <div class="oppHand" id="oppHand"></div>
    <div class="inPlay" id="inPlay"></div>
    <div class="oppInPlay" id="oppInPlay"></div>
    <p class="power" id="power"></p>
    <p class="oppPower" id="oppPower"></p>
    <p class="life" id="life"></p>
    <p class="oppLife" id="oppLife"></p>
    <p class="stats" id="stats"></p>
    
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/images.js"></script>
  <script src="/gui.js"></script>
  <script>
    $("#endturn").hide();
    var username = null;
    var myId = null;
    var socket = io();
    $.get('/user', function(user) {
      if(user == 'error')
        document.location.href = '/login';
      else {
        username = user.fullName;
        $("#stats").text('Wins: '+user.customData.wins+' - Losses:  '+user.customData.losses+' - Gold: '+user.customData.gold);
        socket.emit('connectToServer', user.fullName);
      }
    });
    socket.on('myId', function(id){
      myId = id;
    });
    socket.on('users', function(users){
      $('#users').empty();
      $('#users').append($('<header>').text(users.length+' user(s) online.'));
      for(var i = 0; i < users.length; i++) {
        if(username == users[i])
          $('#users').append($('<li>').text('***'+users[i]));
        else
          $('#users').append($('<li class="user">').text(users[i]));
      }
    });
    $(document).on('click', '.user', function () {
      socket.emit('challenge', $(this).text());
    });
    $("#endturn").click(function() {
      socket.emit('endturn');
    });
    socket.on('challenge', function(from){
      var ret = confirm("Challenged by: "+from+". Do you wish to accept?");
      if(ret) {
        socket.emit('newgame', from, username);
      }
    });
    socket.on('gameState', function(game) {
      var player;
      var opp;
      if(game.player1.id == myId) {
        player = game.player1;
        opp = game.player2;
      }
      else {
        player = game.player2;
        opp = game.player1;
      }
      drawHand(player.hand);
      drawOppHand(opp.hand);
      drawInPlay(player.inPlay);
      drawOppInPlay(opp.inPlay);
      if(game.turnPlayerId == myId)
        $("#endturn").show();
      else
        $("#endturn").hide();
      $("#power").text(player.power+' / '+player.totalPower);
      $("#oppPower").text(opp.power+' / '+opp.totalPower);
      $("#life").text(player.life);
      $("#oppLife").text(opp.life);
    });
    socket.on('notyourturn', function() {
      alert("It's not my turn!!!");
    });
    socket.on('notenoughpower', function() {
      alert("I don't have enough power!!!");
    });
    socket.on('toomanyfollowers', function() {
      alert("I have too many followers!!!");
    });
  </script>
  </body>

</html>